<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>990443950543-712f354t5rlg08vajtk12fnkjsrj31l3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.990443950543-712f354t5rlg08vajtk12fnkjsrj31l3</string>
	<key>API_KEY</key>
	<string>AIzaSyBtJtkLJoxrqMprwZYIV0IECvgt7h757yo</string>
	<key>GCM_SENDER_ID</key>
	<string>990443950543</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.someone.ModelClass9</string>
	<key>PROJECT_ID</key>
	<string>modelclass-fbf69</string>
	<key>STORAGE_BUCKET</key>
	<string>modelclass-fbf69.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:990443950543:ios:36d4e2766cec75730302ba</string>
	<key>DATABASE_URL</key>
	<string>https://modelclass-fbf69.firebaseio.com</string>
</dict>
</plist>